@font-face {
    font-family: 'Glacial Indifference';
    font-weight: 400;
    src: url(../fonts/GlacialIndifference-Regular.otf);

}

@font-face {
    font-family: 'Glacial Indifference';
    font-weight: 700;

    src: url(../fonts/GlacialIndifference-Bold.otf);
}

* {
    box-sizing: 100%;
}

body {

    background-color: white;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}



.container {

    display: flex;
    border: 2px solid #9ba4ab;
    border-radius: 30px;
    width: 1250px;
    height: 1790px;
    margin: 50px;


}



.foto {
    position: relative;
    z-index: 1;
    width: 425px;
    height: 585px;
    margin: 50px 100px;

}

.container::before {
    position: absolute;
    left: 60px;
    top: 52px;

    content: '';

    width: 430px;
    height: 540px;
    border-radius: 30px 0px;
    background-color: hsl(0, 0%, 65%, 0.5);



}


.container-section {
    width: 500px;
    margin-bottom: 80px;

}

.container-left-info {
    position: absolute;
    left: 55px;
    top: 540px;
    margin-left: 60px;
}

.section-border {


    border: 5px solid #25608d;
    padding-top: 170px;

}

.section-title {
    font-family: 'Chau Philomene One';

    text-transform: uppercase;
    font-size: 42px;
    color: #25608d;

    margin: auto 20px;
}

.text {
    font-family: 'Glacial Indifference';
    font-weight: 400;
    font-size: 24px;
    margin: 50px 20px;
    line-height: 1.33;
}

.text ul {
    padding-left: 0;
}

.text li {

    margin-bottom: 20px;
    line-height: 1.33;
    list-style-type: none;
}

.text img {
    width: 15%;
    margin-right: 15px;
}

.text-ln {
    display: flex;
    align-items: center;
}

.title {
    font-family: 'Chau Philomene One';
    font-size: 56px;
    margin-top: 105px;
    margin-right: 100px;
    text-transform: uppercase;

    line-height: 1.2;
    color: #25608d;

}


.profession {
    font-size: 60px;
    text-transform: uppercase;


    margin-top: 30px;
    font-size: 35px;
    font-family: 'Glacial Indifference';
    font-weight: 400;
    color: #193c57;
}

.container-right {
    margin: 0;
}

.container-contacts {
    margin-top: 75px;
    font-size: 35px;
    font-family: 'Glacial Indifference';
    font-weight: 400;
    font-size: 30px;

}

.icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    background-color: #193c57;
}

.nav-contacts {

    margin: 45px 0 90px auto;

}

.nav-contacts li {
    list-style-type: none;

    display: flex;
    margin-top: 40px;
}



.container-contacts::before {
    position: absolute;
    left: 349px;
    top: 330px;
    z-index: -1;
    content: '';
    width: 962px;
    height: 396px;
    /* border-radius: 30px 0px; */
    background-color: hsl(0, 0%, 65%, 0.5);
}


.work li {
    margin-bottom: 70px;
    list-style-type: none;
}


.company {
    font-family: 'Glacial Indifference';
    font-weight: 700;
    font-size: 26px;
    text-transform: uppercase;
    color: #193c57;
    margin-bottom: 25px;
}

.role,
.season {
    font-family: 'Glacial Indifference';

    font-size: 24px;


    margin-bottom: 15px;
}